[submodule "levigo"]
	path = levigo
	url = https://github.com/jmhodges/levigo
[submodule "resize"]
	path = resize
	url = https://github.com/DocSavage/resize.git
[submodule "gomdb"]
	path = gomdb
	url = https://github.com/szferi/gomdb.git
[submodule "goexif"]
	path = goexif
	url = https://github.com/rwcarlsen/goexif.git
[submodule "go-humanize"]
	path = go-humanize
	url = https://github.com/dustin/go-humanize.git
[submodule "golz4"]
	path = golz4
	url = https://github.com/cloudflare/golz4.git
[submodule "goji"]
	path = goji
	url = https://github.com/janelia-flyem/goji.git
[submodule "go-nanomsg"]
	path = go-nanomsg
	url = https://github.com/op/go-nanomsg.git
[submodule "lumberjack"]
	path = lumberjack
	url = https://github.com/natefinch/lumberjack.git
[submodule "toml"]
	path = toml
	url = https://github.com/BurntSushi/toml
