[submodule "levigo"]
	path = levigo
	url = http://github.com/jmhodges/levigo
[submodule "go-couchbase"]
	path = go-couchbase
	url = http://github.com/couchbaselabs/go-couchbase.git
[submodule "resize"]
	path = resize
	url = http://github.com/DocSavage/resize.git
[submodule "gomdb"]
	path = gomdb
	url = http://github.com/szferi/gomdb.git
[submodule "hyperleveldb"]
	path = hyperleveldb
	url = http://github.com/janelia-flyem/hyperleveldb.git
