[submodule "levigo"]
	path = levigo
	url = https://github.com/jmhodges/levigo
[submodule "resize"]
	path = resize
	url = https://github.com/DocSavage/resize.git
[submodule "gomdb"]
	path = gomdb
	url = https://github.com/szferi/gomdb.git
[submodule "goexif"]
	path = goexif
	url = https://github.com/rwcarlsen/goexif.git
[submodule "go-humanize"]
	path = go-humanize
	url = https://github.com/dustin/go-humanize.git
[submodule "goji"]
	path = goji
	url = https://github.com/janelia-flyem/goji.git
[submodule "go-nanomsg"]
	path = go-nanomsg
	url = https://github.com/op/go-nanomsg.git
[submodule "lumberjack"]
	path = lumberjack
	url = https://github.com/natefinch/lumberjack.git
[submodule "toml"]
	path = toml
	url = https://github.com/BurntSushi/toml
[submodule "lru"]
	path = lru
	url = https://github.com/hashicorp/golang-lru.git
[submodule "uuid"]
	path = uuid
	url = https://github.com/twinj/uuid.git
[submodule "murmur3"]
	path = murmur3
	url = https://github.com/spaolacci/murmur3.git
[submodule "profiler"]
	path = profiler
	url = https://github.com/wblakecaldwell/profiler.git
[submodule "cron"]
	path = cron
	url = https://github.com/robfig/cron.git
[submodule "semver"]
	path = semver
	url = https://github.com/blang/semver.git
[submodule "msgp"]
	path = msgp
	url = https://github.com/tinylib/msgp.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/pierrec/lz4
